@charset "utf-8";
/* CSS Document */

/*bem v*/
#s1{text-align: center;font-family: 'Poiret One', cursive;color: #C7183E;}

/*forms*/
#s2{color:#C7183E;font-family: 'Poiret One', cursive;font-size: 20px;}
.s3{color:#C7183E;font-family: 'Poiret One', cursive;font-size: 18px;background: none;border-color:#FF5A5D;font-weight: bolder;}
/*#s5{color:#C7183E;font-family: 'Poiret One', cursive;font-size: 20px;}*/
/*fim dos forms*/

/*botao c*/
/*#a1{color: #C7183E;border-color: #C7183E;}*/
/*texto de ajuda.....*/
#s6{color:#C7183E;font-family: 'Poiret One', cursive;font-size: 20px;}
#s4{color:#C7183E!important;font-family: 'Poiret One', cursive;font-size: 20px;}
/*botao l*/
#a2,#s4{color: #C7183E!important;border-color: #C7183E;background: none;}
/*styly link idiota bootão*/
#decore,decore1,#s4{color: #C7183E;}
#decore:hover{text-decoration: none;background:none;}
#decore1:hover{text-decoration: none;background:none;}
#s4:hover{text-decoration: none;background:none;}















