@charset "utf-8";
/* CSS Document */
/*botao c*/
#mm{color: #C7183E;border-color: #C7183E;background: none;}
/*forms*/
#s1{color:#C7183E;font-family: 'Poiret One', cursive;font-size: 20px;}

/*caixas*/
.s3{color:#C7183E;font-family: 'Poiret One', cursive;font-size: 20px;}
/*fim dos forms*/




